
p {
    color: #2d1303;
    padding: 7%;
    line-height: 120%;
    font-size: 28px;
    background-color: #f1f1e7;
    margin: 0px;
}

small {
    color: #698723;
    font-size: 20px;
}

.storyimg{
  overflow:hidden;
  max-height: 700px;
  width: 100%;
}

.storyimg img{
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .storyimg img{
    -webkit-transform: translate(0%,-10%);
      -ms-transform: translate(0%,-10%);
          transform: translate(0%,-10%);
  }
}

/*.image-1 {
    background-size: 100%;
    background-position: relative;
    background-attachment: fixed;
}
.image-2 {
    background-size: contain;
    background-position: relative;
    background-attachment: fixed;
}
.image-3 {
    background-size: contain;
    background-position: relative;
    background-attachment: fixed;
}*/
