h1 {
    white-space: pre;
    text-align: center;
    color: #2d1303;
}

#get-in-touch h1 {
	margin-top: 10vw;
	font-size: 8vw;
}

#get-in-touch h2 {
	text-align: center;
	color: #2d1303;
	font-size: 5vw;
}

@media screen and (min-width: 767px) {
	#get-in-touch h1 {
		margin-top: 70px;
		font-size: 70px;
	}

	#get-in-touch h2 {
		font-size: 45px;
	}
}

/* FEEDBACK FORM */
.container {
/*	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 65px;
	max-width: 580px;*/
    margin: 0 auto;
	max-width: 600px;
	padding-top: 40px;
	padding-bottom: 40px;
}

input, textarea {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

input {
	line-height: 35px;
	font-family: "Raleway";
  background-color: #f1f1e7;
  border: 1px solid #6A862B;
}

.submitbutton{
  font-family: Ikaros;
  padding-top: 25px;
  background-color: #6A862B;
  color: #f1f1e7;
}

.submitbutton:active{
  background-color: #557018;
}

textarea {
	resize: none;
	font-family: "Raleway";
  background-color: #f1f1e7;
  border: 1px solid #6A862B;
}

#submit input {
	background-color: #698723;
	border: solid #698723;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	white-space: pre;
	width: 25%;
	padding: 5px;
	padding-top: 10px;
}

#submit input:hover {
	background-color: white;
	border: solid #698723;
	color: #698723;
}
