h1 {
    white-space: pre;
    text-align: center;
    color: #2d1303;
}

html, body {
    background-image: url(../images/highqualitybowl.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative;
}
/* Logo, header */
#header h1 {
    font-size: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    margin-bottom: 7vw;
}

#logo {
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: auto;
}

#header br {
    line-height: 5vw;
    display: block;
    margin: 10px 0;
}

.bowl{
  margin-left: -10vw;
  width: 100%;
}

@media screen and (max-width: 1000px) {
      #logo {
          padding-top: 50px;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
}

@media screen and (min-width: 1000px) {
    #header h1 {
        width: 30vw;
        font-size: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }

    #header br {
        line-height: 50px;
        display: block;
        margin: 10px 0;
    }
}


/* Farm Fresh Plates header */
#farmfresh {
    background: #698723;
    /*float: left;*/
    display: table;
    height: 12vw;
    width: 100vw;
}

#farmfresh h1 {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 5vw;
    color: #f1f1e7;
    padding-top: 3vw;
}

@media screen and (min-width: 767px) {
    #farmfresh {
        height: 100px;
    }

    #farmfresh h1 {
        font-size: 40px;
        padding-top: 35px;
        left: -75px;
    }
}

/* Hours & Location section */
#hours {
    background: #f1f1e7;
    clear: both;
    overflow: auto;
    display: table;
    height: 50vw;
    width: 100vw;
}

#hours h1 {
    padding-top: 2vw;
    font-size: 5vw;
}

#hours * {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

#hours ul {
    list-style-type: none;
    font-size: 3.5vw;
}

#hours li {
    white-space: pre;
    color: #2d1303;
    margin-left: -30px;
}

#hours h2 {
   font-size: 3.5vw;
   color: #2d1303;
   margin-top: 4vw;
   margin-bottom: -10px;
}

#hours h4 {
   font-size: 3vw;
   color: #2d1303;
   margin-top: 15px;
   margin-bottom: -10px;
}

a {
    color: #698723;
}

a:hover {
    color: #4c7100;
    text-decoration: none;
}

#hours h3 {
    font-size: 3.5vw;
    margin-bottom: 25px;
}

@media screen and (min-width: 767px) {
    #hours {
        height: 400px;
        left: -75px;
    }

    #hours h1 {
        padding-top: 20px;
        font-size: 40px;
        left: -75px;
    }


    #hours ul {
        font-size: 30px;
        left: -75px;
    }

    #hours h2 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: -10px;
        left: -75px;
    }

    #hours h4 {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: -5px;
        left: -75px;
    }

    #hours h3 {
        font-size: 30px;
        margin-bottom: 25px;
        left: -75px;
    }
}

/* Gallery */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
}

.carousel-caption {
    /*background: rgba(241, 241, 231, 0.7);*/
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
}

.carousel-caption h3 {
    font-size: 5vw;
    /*color: #522610;*/
    color: white;
    text-shadow: none;
    font-weight: bold;
    padding-bottom: -10px;
}

.carousel-caption p{
  text-align: center;
  font-size: 3.5vw;
  text-shadow: none;
  /*color: #522610;*/
  color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.carousel-indicators{
  bottom: 0px;
}

.item{
  overflow: hidden;
  max-height: 700px;
}

@media screen and (min-width: 1200px) {
  .item img{
    -webkit-transform: translate(0%,-10%);
      -ms-transform: translate(0%,-10%);
          transform: translate(0%,-10%);
  }
}

@media screen and (min-width: 767px) {
    .carousel-caption h3 {
        /*font-size: 35px;
        padding: 10px;*/
        font-size: 3vw;
    }

    .carousel-caption p {
        /*font-size: 25px;*/
        font-size: 2.5vw;
    }

    .carousel-indicators li, .carousel-indicators li.active{
      /*width: 20px;
      height: 20px;*/
      width: 15px;
      height: 15px;
    }

    /*.carousel-caption{
        position: absolute;
        max-width: 35vw;
        left: 55%;
        bottom: 10%;
    }*/

    /*.carousel-caption{
      position: absolute;
      padding: 2vw;
      max-width: 50vw;
      left: 10%;
      margin-bottom: 25vw;
      background: rgba(241, 241, 231, 0.7);
    }*/

}
