h1 {
    white-space: pre;
    text-align: center;
    color: #2d1303;
}

img {
	width: 75%;
	height: auto;
}

#logo {
	padding-top: 10%;
}

/* Farm Fresh Plates header */
#farmfresh {
	background: #698723;
    /*float: left;*/
    display: table;
}

#farmfresh h1 {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)*/
    /*text-align: center;
    vertical-align: middle;
    line-height: 90px;  */
}

/* Hours & Location section */
#hours {
    background: #f1f1e7;
    /*float: left;
    text-align: center; */
    clear: both;
    overflow: auto;
    display: table;
}

#hours * {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

#hours li {
    white-space: pre;
    color: #2d1303;
    margin-left: -30px;
}

a {
    color: #698723;
}

a:hover {
    color: #4c7100;
    text-decoration: none;
}

/* Gallery */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
}

.carousel-caption h3 {
    font-size: 6vw;
}
