h1 {
    white-space: pre;
    text-align: center;
    color: #2d1303;
}

/* Menu Header */
#menu-header {
  font-size: 10vw; 
  padding-top: 8vw; 
  padding-bottom: 8vw;
}

/* Catering Info */
#catering {
	background: #ff7700;
	margin: 0px;
  width: 100vw;
  height: 10vw;
}

#catering > h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0px;
    font-size: 5vw; 
    color: #f1f1e7; 
    padding-top: 3vw;
}

/* Category Headers */
#headers {
	background: #698723;
	margin: 0px;
  width: 100vw;
  height: 15vw;
}

#headers > h1 {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0px;
  font-size: 5vw; 
  color: #f1f1e7; 
  padding-top: 3vw;
}

/* Galleries */
.carousel-inner img {
  width: 100vw;
}

.carousel-caption-below {
  padding: 5px 10px;
  overflow-y: scroll;
  color: #2d1303;
  background: white;
  height: 100%;
  text-align: center;
}

.carousel-caption-below > h3 {
  padding-top: 1.5vw;
  font-size: 5vw;
  white-space: pre;
}

.carousel-caption-below > h4 {
  font-size: 4vw;
}

.carousel-caption-below > ul > li {
  white-space: pre;
  list-style-type: none;
  font-size: 3vw;
}

.carousel-indicators {
  bottom: -20px;
  color: #698723;
  padding-bottom: 5px;
}

.carousel-indicators li {
  background: #ccc;
}

.carousel-indicators .active {
  background: #666;
}

.carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 7vw;
  /*text-shadow: -5px 0 #698723, 0 5px #698723, 5px 0 #698723, 0 -5px #698723*/
}

/* Removes gradient from side arrows */
/*.carousel-control.right, .carousel-control.left {
  background-image: none;
}*/

/*@media (min-width: 768px) {
  .carousel-caption-below {
    padding: 6px 12px;
    height: 131.25px;
    font-size: 14px; 
  } 
}*/

/* Headers for circular image sections */
.circ-header {
  padding-top: 3vw;
}

.circ-header > h1 {
  font-size: 5vw;
}

.circ-header > h2 {
  font-size: 4vw;
  text-align: center;
  color: #2d1303;
}


/*Circular images style*/
.circular_category{
    border-radius:50%;
    transition: transform 0.5s ease;
    transform: scale(1);
    display: inline-block;
}

.circle_content{
  background-size: cover;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  zoom: 1.2;
}

.price{
  font-size: 3vw;
}

.chicken{
  background: url(../images/chicken.jpg);
  background-position: center;
  background-size: 220%;
}

.tofu{
  background: url(../images/tofu.jpg);
  background-position: center;
  background-size: 200%;
}

.beef{
  background: url(../images/beef.jpg);
  background-position: -7vw center;
  background-size: 300%;
}

.pork{
  background: url(../images/pork.jpg);
  background-position: center;
  background-size: 150%;
}

.salmon{
  background: url(../images/salmon.jpg);
  background-position: -28vw center;
  background-size: 350%;
}

.roll{
  background: url(../images/eggrolls.jpg);
  background-position: center;
  background-size: 150%;
}

.egg{
  background: url(../images/egg.jpg);
  background-position: center;
  background-size: 150%;
}

.rice{
  background: url(../images/rice.jpg);
  background-position: center top;
  background-size: 250%;
}

.salad{
  background: url(../images/green_salad.jpg);
  background-position: right top;
  background-size: 200%;
}

.sauteed{
  background: url(../images/sauteed_veggies.jpg);
  background-position: right top;
  background-size: 220%;
}

.soup{
  background: url(../images/soup.jpg);
  background-position: -12vw center;
  background-size: 180%;
}

.three-row{
  width: 90%;
  margin-bottom: 3vw;
}

.two-row{
  width: 60%;
}

table {
  margin: auto;
  font-size: 4vw;
  color: #2d1303;
}

td {
  text-align: center;
}
