@font-face {
    font-family: Ikaros;
    src: url(../fonts/ikaros.otf);
}

@media(max-width:768px) {
    #sidemenu li{
      font-size: 16px;
    }
}

div {
    font-family: 'Ikaros';
}

h1 {
    white-space: pre;
    text-align: center;
    color: #2d1303;
}

body {
    background-image: url(../images/bamboo_tabletop.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Catering Info */
#catering {
	background: #ff7700;
	margin: 0px;
}

#catering h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0px;
}

/* Category Headers */
#headers{
	background: #698723;
	margin: 0px;
}

#headers h1 {
	position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0px;
}

/* Galleries */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
}

.carousel-caption {
    background: white;
    color: #2d1303;
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
}

.carousel-caption h3 {
    font-size: 5vw;
    white-space: pre;
}

.carousel-caption h4 {
	font-size: 4vw;
}

.carousel-caption li {
	white-space: pre;
}

/*Circular images style*/
.circular_category{
    border-radius:50%;
    transition: transform 0.5s ease;
    transform: scale(1);
    display: inline-block;
}

.circle_content{
  background-size: cover;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  zoom: 1.2;
}

.price{
  font-size: 3vw;
}

.chicken{
  background: url(../images/chicken.jpg);
  background-position: center;
  background-size: 220%;
}

.tofu{
  background: url(../images/tofu.jpg);
  background-position: center;
  background-size: 200%;
}

.beef{
  background: url(../images/beef.jpg);
  background-position: -7vw center;
  background-size: 300%;
}

.pork{
  background: url(../images/pork.jpg);
  background-position: center;
  background-size: 150%;
}

.salmon{
  background: url(../images/salmon.jpg);
  background-position: center;
  background-size: 350%;
}

.roll{
  background: url(../images/eggrolls.jpg);
  background-position: center;
  background-size: 150%;
}

.egg{
  background: url(../images/egg.jpg);
  background-position: center;
  background-size: 150%;
}

.rice{
  background: url(../images/rice.jpg);
  background-position: center top;
  background-size: 250%;
}

.salad{
  background: url(../images/green_salad.jpg);
  background-position: right top;
  background-size: 200%;
}

.sauteed{
  background: url(../images/sauteed_veggies.jpg);
  background-position: right top;
  background-size: 220%;
}

.soup{
  background: url(../images/soup.jpg);
  background-position: -12vw center;
  background-size: 180%;
}

.three-row{
  width: 90%;
  margin-bottom: 3vw;
}

.two-row{
  width: 60%;
}

table {
  margin: auto;
  font-size: 4vw;
}

td {
  text-align: center;
}

/* Footer */
.footer {
    background: #698723;
    display: table;
    text-align: center;
}

.footer-inner * {
    color: #f1f1e7;
    font-size: 4vw;
    display: inline;
}
