@font-face{
    font-family: 'Ikaros';
    src: url('../fonts/Ikaros.otf') format('opentype');
}

@media(max-width:768px) {
    #sidemenu li, #menutoggle li{
      font-size: 16px;
    }
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

html, body {
    font-family: "Ikaros";
    height: 100%;
    background-image: url(../images/bamboo_tabletop.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.canvas {
  position: relative;
  padding: 60px 0 0 0;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#sidemenu{
  padding: 20px;
  width: 150px;
  background-color: #E9E2B8;
  left: -150px;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#navbrand{
  font-size: 60px;
  padding-bottom: 30px;
}

#sidemenu ul, #menutoggle ul{
  font-size: 18px;
}

#sidemenu #currentnav, #menutoggle #currentnav, #sidemenu a:hover, #menutoggle a:hover {
  color: #6A862B;
}

#sidemenu a, #menutoggle a {
  color: #2D1304;
  text-align: center;
}

#fixed_bar{
  background: transparent;
  border-style: none;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#menubutton{
  border-style: none;
  background-color: white;
}

#menubutton:hover{
  background-color: #F1F1E7;
}

#menu-bar+ #menu-bar{
    margin-top:5px;
}

#menu-bar{
  height: 4px;
  width: 30px;
  background-color: #522610;
}
