h1 {
    white-space: pre;
    text-align: center;
    color: #2d1303;
}

#get-in-touch h1 {
	margin-top: 10vw;
	font-size: 8vw;
}

#get-in-touch h2 {
	text-align: center;
	color: #2d1303;
	font-size: 5vw;
}

.tycontent{
  align: middle;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 60px;
  color: #2d1303;
}

.tycontent img {
  width: 50%;
  height: 50%;
}

/*.tycontent p {
  padding-bottom: 60vw;
}*/

@media screen and (min-width: 767px) {
  #get-in-touch h1 {
    margin-top: 70px;
    font-size: 65px;
  }

  #get-in-touch h2 {
    font-size: 45px;
  }

  .tycontent {
    font-size: 30px;
  }

  .tycontent img {
    width: 400px;
    height: 400px;
  }
}

